<footer class="footer">
    <div class="footer__banner d-flex a-items-end py-8 pos-relative">
        <div class="container z-index-1">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="text-white mb-3 fs-4 fs-md-2">想收到最新消息嗎？<br>快訂閱我們！</h2>
                    <form class="row g-0">
                        <div class="col-8 col-sm-6">
                            <input type="email" class="form-control border-0 rounded-0 rounded-start p-3" id="exampleFormControlInput1" placeholder="輸入您的電子信箱">
                        </div>
                        <div class="col-4 col-sm-6">
                            <button type="submit" class="btn btn-secondary rounded-0 border-0 rounded-end py-3 px-6 px-sm-10 w-100 w-sm-auto">訂閱</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom border-dark py-4 py-md-6">
        <div class="container">
            <div class="d-md-flex j-content-md-between a-items-md-center">
                <div class="d-md-flex a-items-md-center">
                    <h4 class="fw-normal me-3">EXHIBINECTION</h4>
                    <p>© 2021. All Rights Reserved.</p>
                </div>
                <div class="footer__tool d-none d-md-inline-block">
                    <a href="#" class="">Sign in</a>
                    <a href="#" class="ms-8">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</footer>