<div class="others pt-6 pb-6 pt-md-13 pb-md-13">
	<div class="container">
		<h2 class="fw-bold mb-2 mb-md-6">猜你也喜歡...</h2>
		<!-- swiper -->
		<div class="overflow-hidden">
			<div class="row">
				<div class="col-12 col-md-12 offset-md-1">
					<div class="swiper-container mySwiper w-100 h-100">
						<div class="swiper-wrapper">
							<a class="swiper-slide text-black link-hover" href="#">
								<div class="w-100">
									<img class="w-100 h-100 object-cover" src="./assets/images/others-01.jpg" alt="">
								</div>
								<h5 class="fw-bold mt-1 mb-1">No.22 線上設計展</h5>
								<p class="fs-5">$350</p>
							</a>
							<a class="swiper-slide text-black link-hover" href="#">
								<div class="w-100">
									<img class="w-100 h-100 object-cover" src="./assets/images/others-02.jpg" alt="">
								</div>
								<h5 class="fw-bold mt-1 mb-1">No.22 線上設計展</h5>
								<p class="fs-5">$350</p>
							</a>
							<a class="swiper-slide text-black link-hover" href="#">
								<div class="w-100">
									<img class="w-100 h-100 object-cover" src="./assets/images/others-03.jpg" alt="">
								</div>
								<h5 class="fw-bold mt-1 mb-1">No.22 線上設計展</h5>
								<p class="fs-5">$350</p>
							</a>
							<a class="swiper-slide text-black link-hover" href="#">
								<div class="w-100">
									<img class="w-100 h-100 object-cover" src="./assets/images/others-01.jpg" alt="">
								</div>
								<h5 class="fw-bold mt-1 mb-1">No.22 線上設計展</h5>
								<p class="fs-5">$350</p>
							</a>
							<a class="swiper-slide text-black link-hover" href="#">
								<div class="w-100">
									<img class="w-100 h-100 object-cover" src="./assets/images/others-02.jpg" alt="">
								</div>
								<h5 class="fw-bold mt-1 mb-1">No.22 線上設計展</h5>
								<p class="fs-5">$350</p>
							</a>
							<a class="swiper-slide text-black link-hover" href="#">
								<div class="w-100">
									<img class="w-100 h-100 object-cover" src="./assets/images/others-03.jpg" alt="">
								</div>
								<h5 class="fw-bold mt-1 mb-1">No.22 線上設計展</h5>
								<p class="fs-5">$350</p>
							</a>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>