.header {
  &__tool {
    right: 26px;
    .badge {
      position: absolute;
      top: -12px;
      right: -10px;
      min-width: 22px;
      min-height: 22px;
    }
  }
}
.homebanner {
  @include background( "homebanner.jpg", no-repeat, cover, center);
  min-height: 480px;
}
.cartModal {
  .card {
    &-img{
      width: 120px;
      height: 120px;
    }
  }
}
.footer {
  &__banner {
    @include background( "footer-banner.jpg", no-repeat, cover, center);
    min-height: 400px;
    @include media-breakpoint-down(lg) {
      &::after {
        content: '';
        @include mask( $black, .6);
      }
    }
  }
}