<header class="header bg-white border border-start-0 border-end-0 border-dark py-3 py-md-6">
    <div class="container-fluid container-lg pos-relative">
        <div class="d-flex j-content-center a-items-center">
            <a href="index.html">
                <h4 class="header__logo text-primary fw-normal">EXHIBINECTION</h4>
            </a>
        </div>
        <div class="header__tool">
            <div class="d-none d-lg-inline-block">
                <a href="#" class="">Sign in</a>
                <a href="#" class="ms-8">Sign up</a>
            </div>
            <a href="#" class="icon-hover text-black ms-8 pos-relative">
                <i class="material-icons">confirmation_number</i>
                <span class="badge fw-light lh-xs p-1 rounded-circle bg-secondary">3</span>
            </a>
        </div>
    </div>
</header>