.product {
  &-item {
    &__date {
      max-width: 40px;
    }
  }
  @include media-breakpoint-up(lg) {
    &-item__img {
      height: 285px;
    }
  }
}
.detail {
  .ticket {
    &__img {
      height: 16rem;
    }
    &__date {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      max-width: 40px;
    }
    @include media-breakpoint-up(md) {
      &__box {
        height: 16rem;
      }
      &__box:first-child::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: $black;
      }
    }
  }
  .info {
    &__img-01 {
      height: 25rem;
    }
    &__img-02 {
      height: 559px;
    }
  }
}